html {
  font-size: 1rem;
}

body,
html {
  height: 100%;
}

body a,
body div,
body p {
  color: black;
}

.sectionCutter {
  margin-top: 50px;
  margin-bottom: 20px;
  border: 2px solid orange;
}
/*
body a:hover {
  color: #cdcdcd;
}*/

/*
.title {
  font-size: 2rem;
  font-weight: 100;
}
*/
.title {
  font-size: 2rem;
}

h3, .subtitle {
  font-size: 1.2rem;
}

.header .logo {
  height: 3.5rem;
  width: 3.5rem;
}

.header .title {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.header .font-increase-button,
.nav .font-increase-button {
  font-size: 0.8rem;
}

.header .font-decrease-button,
.nav .font-decrease-button {
  font-size: 0.6rem;
}

.footer,
.header,
.nav {
  flex: 0 0 auto;
}

#main-header {
  position:fixed;
  top:0;
  width:100%;
  z-index:1000;
  background-color: #ffffff;
}

#skip-links {
  margin-top: -90px;
}

.main {
  flex: 1 0 auto;
  padding-top: 150px;
  padding-bottom: 150px;
}

/* added */
/*
.mt-4 div:hover {
  color: orange;
}
*/
a:hover {
  background-color: orange;
}

footer {
  position: fixed;
  bottom: 0px;
}